body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/4709285/pexels-photo-4709285.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #70b4b3;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    text-align: center;
    opacity: .5;
    transition: all .5s ease;
    color: #000000;
    
}
.container:hover{
    opacity: 1;
    transform: scale(0.9);
    color: #f4f4f4;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #206f77;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
    transform: scale(0.9);
    transform: translate (5px, 12px);

}
