<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <h2>Conozca a Gustavo</h2>
    <p>Gustavo es un experto en actividades acuáticas. Con años de experiencia en su campo, ha perfeccionado habilidades que le permiten moverse con gracia y agilidad en el agua. Su destreza no solo se limita a la superficie, sino que también es capaz de sumergirse en los desafíos más profundos con una facilidad impresionante.</p>

    <p>La versatilidad de Gustavo es uno de sus puntos fuertes. Ya sea surcando las olas con su tabla, nadando con gran destreza, o realizando acrobacias en el agua, siempre sabe cómo adaptarse y conquistar cualquier desafío que el agua le presente. Su habilidad para mantenerse a flote incluso en las situaciones más complicadas es una de las razones por las que es tan respetado en su campo.</p>

    <p>Gustavo no solo se dedica a las actividades acuáticas por placer, sino que también ofrece entrenamientos especializados para aquellos interesados en perfeccionar sus habilidades. Su enfoque no solo es técnico, sino también filosófico, ya que siempre recuerda que, al igual que en la vida, se trata de encontrar el equilibrio y disfrutar del proceso.</p>
    <img src="https://s2.glbimg.com/m_7ZBW90lLXrkm8eCxkBqEzb9ns=/0x0:420x576/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/V/D/d0UrTZQgiRAhkRDf5OuA/preguica2.jpg" alt="Imagen descriptiva" style="width: 20%; height: auto;">

    <p>¿Te atreves a seguir los pasos de Gustavo? Atrévete a sumergirte en el mundo de las actividades acuáticas y descubre lo que realmente significa dominar las aguas.</p>
  </div>
</ion-content>
